NMA_Wall/NMA_Wall/Service References/ServiceReference1/NMA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetComments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="lon" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="dist" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCommentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetComments" />
  </wsdl:message>
  <wsdl:message name="GetCommentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommentsResponse" />
  </wsdl:message>
  <wsdl:portType name="NMASoap">
    <wsdl:operation name="GetComments">
      <wsdl:input message="tns:GetCommentsSoapIn" />
      <wsdl:output message="tns:GetCommentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NMASoap" type="tns:NMASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComments">
      <soap:operation soapAction="http://tempuri.org/GetComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NMASoap12" type="tns:NMASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComments">
      <soap12:operation soapAction="http://tempuri.org/GetComments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NMA">
    <wsdl:port name="NMASoap" binding="tns:NMASoap">
      <soap:address location="http://localhost:51101/NMA.asmx" />
    </wsdl:port>
    <wsdl:port name="NMASoap12" binding="tns:NMASoap12">
      <soap12:address location="http://localhost:51101/NMA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>